body {
  background-image: url("background.jpg");
  font-family: 'Cabin Sketch', cursive;
}

#contents_container {
  width: 900px;
}

#main_container {
  display: flex;
  align-items: center;
}

#board {
  display: flex;
  justify-content: center;
}

#header {
  text-align: center;
  font-size: 64pt;
  margin-top: 48px;
  margin-bottom: 8px;
  user-select: none;
}

#board_container {
  background-image: url("board.png");
  width: 408px;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 136px;
  font-size: 64pt;
  background-color: transparent;
  user-select: none;
}

#score_container {
  font-size: 32pt;
  width: 408px;
}

#x_name, #o_name {
  text-align: center;
  margin-top: -32px;
}

#x_score, #o_score {
  font-size: 72pt;
}

#x_name {
  float: left;
}

#o_name {
  float: right;
}

#button_container {
  text-align: center;
}

#restart {
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
  background-color: #292a2c;
  color: #e5d7cc;
  border-radius: 12px;
  padding: 6px 16px;
  margin-top: 12px;
  outline: 0;
}

#status {
  font-size: 56px;
  text-align: center;
  margin-top: 12px;
}

@media screen and (max-width: 600px) {
  #header {
    font-size: 54pt;
  }
}
