body {
  background-image: url("background.jpg");
  font-family: 'Cabin Sketch', cursive;
}

#header {
  text-align: center;
  margin-top: 42px;
  margin-bottom: 16px;
  font-size: 64pt;
  user-select: none;
}

@media screen and (max-width: 600px) {
  #header {
    font-size: 48pt;
  }
}

#board_container {
  display: flex;
  justify-content: center;
  align-items: center;

}


.grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
}

#board_div {
  display: flex;
  justify-content: center;
  background-image: url("board.png");
  width: 408px;

}

.grid_item {
  min-width: 136px;
  min-height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: black;
  font-size: 56pt;
  user-select: none;
}

#restart {
  padding: 10px;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 24px;
  outline: 0;
  font-family: 'Cabin Sketch', cursive;

}

#button_container {
  text-align: center;
}

#score_container {
  font-size: 38px;
  width: 408px;
}


#x_score, #o_score {
  display: inline;
  margin: 6px 20px;

}

#x_score {
  float: left;
}

#o_score {
  float: right;
}

#status {
  margin: auto 20px auto 20px;
  text-align: center;
  font-size: 30px;
}
