.Header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

  /* text-decoration: underline; */
font-family: 'Ceviche One', cursive;
  text-shadow: -1px -1px grey;
  font-weight: bold;
  font-size: 85px;
  margin-bottom: -5px;
}


.App {
  text-align: center;
  font-size: 40px;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;



}

.Board {
  display: flex;
  justify-content: center;
}

.grid-item {

  min-width: 120px;
  min-height: 120px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F3E3;
  color: #005287;
  font-family: Helvetica, cursive;
  font-size: 72pt;

}

.Button {
font-family: 'Ceviche One', cursive;
  font-weight: bold;
  margin: -5px;
  padding: 8px;
  border-width: 0px;
  border-radius: 100px;
  background-color: #F7F3E3;
  font-size: 20px;
}

.winmsg {
  font-family: Arial, cursive;
  margin: auto 20px auto 20px;
}
